<div class="module module-linkedin">

	<div class="row">
	
		<div class="col-xs-12 block block-color0 block-text">
			<div class="text">Connect to linkedin.</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 block block-white block-text">
			<a class="btn btn-primary btn-block" ng-href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id={{clientId}}&redirect_uri={{redirectUrl}}">Connect to linkedin</a>
			
			<a href="file://index.html#">Test</a>
		</div>
	</div>
</div>
