<div class="row">
	<div class="menu">
		<div class="col-xs-6 col-ys-4 col-sm-3 col-md-2 block block-white">
			<img ng-show="user.pictureUrl" class="menu-picture photo-block" ng-src="{{user.pictureUrl}}" />
			<img ng-hide="user.pictureUrl" class="menu-picture photo-block" src="http://www.familieslager.nl/capathon/lion2.jpg" />
		</div>
		<div class="col-xs-6 col-ys-8 col-sm-9 col-md-10 block block-white">
			<a ng-href="#/module/profile" class="icon icon-profile">
				<span class="">{{user.firstName}}</span>
				<span class="">{{user.lastName}}</span>
			</a>
		</div>
		<div ng-repeat="module in modules" class="col-xs-6 col-ys-4 col-sm-3 col-md-2 block block-{{color($index)}}">
			<a ng-href="#/module/{{module}}" class="icon icon-{{module | lowercase}}">
				
			</a>
		</div>
	</div>
</div>