<div class="row">
	<div class="col-xs-12 block block-title block-title-coaching">Coaching</div>
</div>

<div class="row">
	<div class="block block-form">
		<form role="form" >
			<div class="form-group">
				<input type="label" class="form-control input-lg" placeholder="Skill" ng-model="Skill" autofocus="autofocus" />
			</div>
			
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6"><button type="button"  class="btn btn-lg btn-block" ng-click="searchCoach()" ><b>search coach</b></button></div>
					<div class="col-xs-6"><button type="button"  class="btn btn-lg btn-block" ng-click="searchStudent()" ><b>search student</b></button></div>
				</div>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="practice"  [ng-change="{string}"]></input> Practice 
				</label>
			</div>
			
			<div class="alert alert-success" ng-model = status ng-show="status == true">Sorry could not find.</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="contact" ng-repeat="item in list">
		<img class="photo" ng-src="http://www.familieslager.nl/capathon/{{item.photo}}" width="75px" height="75px" />
		<a class="name" href="#/module/coach/Details/{{item._id}}">{{item.firstname}} {{item.lastname}}</a>
		<a class="phone" ng-href="tel:{{item.telephone}}">{{item.telephone}}</a> 
	</div>
</div>

