<div class="row">
	<div class="title title-peoplefinder">
		People Finder</div>
	</div>
</div>

<div class="row">
	<form>
		<div class="input-group search">
			<input type="text" class="form-control" placeholder="Keyword" ng-model="searchText" ng-change="elasticSearch()">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="search()">Search</button>
			</span>
		</div><!-- /input-group -->
	</form>
</div>

<div class="row">
	<div class="contact" ng-repeat="item in list">
		<img class="photo" ng-src="http://www.familieslager.nl/capathon/{{item.photo}}" width="75px" height="75px" />
		<a class="name" ng-href="tel:{{item.mobile}}">{{item.firstname}} {{item.lastname}}</a>
		<a class="phone" ng-href="tel:{{item.mobile}}">{{item.telephone}}</a>
        <a href="#/module/PeopleFinder/Details/{{item._id}}">details</a>
	</div>
</div>
