<h1> My Profile </h1>

<html>
<form role="form" >
<div class="form-group">
  <label for="formName">Name</label>
  <input type="label" class="form-control" placeholder="Name" ng-model="list[0].firstname">
</div>
<div class="form-group">
  <label for="formName">Phone</label>
  <input type="text" class="form-control" placeholder="Telephone" ng-model="list[0].mobile">
</div>
<div class="form-group">
    <label for="formName">Residence</label>
    <input type="text" class="form-control" id="formName" placeholder="Residence" ng-model="list[0].Residence">
</div>
<div class="form-group">
    <label for="formName">Email-Id</label>
    <input type="text" class="form-control" id="formName" placeholder="Email-Id" ng-model="list[0].Email">
</div>
<div class="form-group">
    <label for="formType">Skills</label>
		<ul class="list-group">
			<li  class="list-group-item" ng-repeat="skill in list[0].Expertise" value={{skill}}>{{skill}}
			</li>
		</ul>
 </div>
 <div class="form-group">
    <label for="formName">Client</label>
    <input type="text" class="form-control" id="formName" placeholder="Client" ng-model="list[0].Client">
</div>
<div class="form-group">
    <label for="formName">Availability</label>
    <input type="text" class="form-control" id="formName" placeholder="Availability" ng-model="list[0].Available">
</div>
<button type="button" class="btn btn-default" ng-click="edit()"><b>SAVE</b></button></br></br>
<div class="alert alert-success" ng-model = status ng-show="status == true">Your details are successfully Updated.</div>
<div class="alert alert-success" ng-model = status ng-show="status == false">Failed to update details.</div>
</form>
</html
