/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,
body {
	height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

#header{
	background-color: #f5f5f5;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -75px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 75px;
}
#footer {
	background-color: #f5f5f5;
}


/* block */
.block {
	height:75px;
	border: 2px solid #d3d3d3;
}

.block-light {
	background-color: #61C5E9;
}

.block-medium {
	background-color: #1898CE;
}

.block-dark {
	background-color: #003d86;
}

.block-regular {
	background-color: #0b7391;
}



/* header */
.header {
	border: 2px solid #d3d3d3;
	border-bottom-width: 0px;
}

.header .block {
	height:75px;
}

.header .logo {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}

.header .date {
	
}

.header .date .day{
	display: block;
	text-align: right;
	height:50%;
	color:#FFF;
	font-size: 24px;
}

/* main */
.main {
	border: 2px solid #d3d3d3;
	border-top-width: 0px;
}


/* menu */
.menu {
	
}

.menu .block {
	height:150px;
}
    