/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,
body {
	height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

#header{
	background-color: #f5f5f5;
	margin-bottom: 10px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f5f5f5;
}


/* header */
.header {
	border: 1px solid #d3d3d3;
}

.header [class^="col-"] {
	background-color: #003d86;
	border: 1px solid #d3d3d3;
	
}

.header .block {
	height:75px;
	
}

.header .logo {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.header .date {
	
}

.header .date .day{
	display: block;
	text-align: right;
	height:50%;
	color:#FFF;
	font-size:
}


    