/* Sticky footer styles
-------------------------------------------------- */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html,
body {
	height: 100%;
	background-color: #d3d3d3;
/* The html and body elements cannot have any padding or margin. */
}

#header{
	background-color: #f5f5f5;
}

/* Set the fixed height of the footer here */
#footer {
	height: 75px;
	background-color: #f5f5f5;
}

@font-face {
    font-family: helveticaneueltstd-ultlt-webfont;
    src: url("../fonts/HelveticaNeueLTStd-UltLt.otf") format("opentype");
}
@font-face {
	font-family: helveticaltstd-light-webfont;
	src: url("../fonts/helveticaltstd-light-webfont.ttf") format("truetype");
}
/* block */
.block {
	height:75px;
	border: 2px solid #d3d3d3;
}

.block-light {
	background-color: #61C5E9;
}

.block-medium {
	background-color: #1898CE;
}

.block-dark {
	background-color: #003d86;
}

.block-regular {
	background-color: #0b7391;
}

/* header */
.header {
	border: 2px solid #d3d3d3;
}

.header .block {
	height:75px;
}

.header .logo {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 75px;
	background-position:center;
	background-color:#1898CE;
}

.header .date {
	
}

.date{
	font-family: helveticaneueltstd-ultlt-webfont, Helvetica, Verdana, Sans-Serif;	
}

.header .date .day{
	display: block;
	text-align: right;
	height:50%;
	color:#FFF;
	font-size: 24px;
}

/* main */
.main {
	padding-top: 75px;
	padding-bottom: 75px;
	border: 2px solid #d3d3d3;
	border-width: 0px 4px;
}


/* menu */
.menu {
	
}

.menu .block {
	height:150px;
}

.menu .icon {
	background-image: url("../img/menu_icon.png");
	display: block;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 150px;
	background-position:center;
}

.menu a.icon-peoplefinder {
	background-image: url("../img/menu_icon_peoplefinder.png");
}

.menu a.icon-skillfinder {
	background-image: url("../img/menu_icon_skillfinder.png");
}

.menu a.icon-presentation {
	background-image: url("../img/menu_icon_presentation.png");
}

/* footer */
.footer{
	
}

.footer .button {
	display: block;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 75px;
	background-position:center;
}

.footer .button-back {
	background-image: url("../img/footer_back.png");
}

.footer .button-logoff {
	background-image: url("../img/footer_logoff.png");
}

.footer .button-menu {
	background-image: url("../img/footer_menu.png");
}

/* footer */
.title {
	height:75px;
	line-height:75px;
	font-size: 24px;
	text-transform:uppercase;
	color: #d3d3d3;
	background-image: url("../img/menu_icon.png");
	background-repeat: no-repeat;
	background-size: 75px;
	background-position:center right;
	background-color: #FFFFFF;
	padding: 0px 10px;
	border-bottom: 4px solid #d3d3d3;
}

.title-peoplefinder {
	background-image: url("../img/module_icon_peoplefinder.png");
}

/* list */
.list{

}

.contact {
	background:#FFF;
	height:79px;
	border-bottom: 4px solid #d3d3d3;
}

.contact .photo{
	float:left;
}

.contact .name{
	font-size:24px;
	padding: 5px 85px;
	display: block;
	color: #003d86;
}

.contact .phone{
	display: block;
	margin: 0px 85px;
	color: #003d86;
}

/* search */

.search{
	border-bottom: 4px solid #d3d3d3;
}

.list-group-item{
	border-bottom:  4px solid #DDDDDD;
}
    