<div class="module module-expenses">

	<div class="row">
		<div class="col-xs-12 block block-title block-title-expenses">Expenses</div>
	</div>
	
	<div class="row">
		<div class="block block-form">
			<form role="form" >
				<div class="form-group">
				  <label for="formName">Category</label>
				  <select id="formCategory" ng-model="form.category" class="form-control" >
					<option value="Travel">Travel</option>
					<option value="Learning">Learning Course</option>
				  </select>
				</div>
				<div class="form-group" ng-show="form.category=='Travel'">
				  <label for="formName">Type</label>
				  <select id="formType1" ng-model="form.type" class="form-control" >
					<option value="AirPlane">Air plane ticket</option>
					<option value="Parking">Parking invoice</option>
					<option value="Car">Car Mileage</option>
				  </select>
				</div>
				<div class="form-group" ng-show="form.category=='Learning'">
				  <label for="formName">Type</label>
				  <select id="formType2" ng-model="form.type" class="form-control" >
					<option value="External">External training</option>
					<option value="Internal">Internal training</option>
				  </select>
				</div>
				<div class="form-group">
				  <label for="formName">Invoices</label>
				  <input type="text" class="form-control" placeholder="Invoices" ng-model="expense.Invoices">
				</div>
				<div class="form-group">
					<label for="formName">ExpenseAmount</label>
					<input type="text" class="form-control" id="formName" placeholder="ExpenseAmount" ng-model="expense.ExpenseAmount">
				</div>
				<div class="form-group">
					<label for="formName">Description</label>
					<input type="text" class="form-control" id="formName" placeholder="Description" ng-model="expense.Description">
				</div>
				<div class="form-group">
					<label for="formName">Client Billable ?</label> 
					<div class="form-control">
						<label class="radio-inline">
							<input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="billable" value="Yes" /> Yes
						</label>
						<label class="radio-inline">
							<input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="billable" value="No" /> No
						</label>
					</div>
				</div>
				<div class="form-group" ng-show="billable =='Yes'">
					<label for="formName">ProjectId</label>
					<input type="text" class="form-control" id="formName" placeholder="ProjectId" ng-model="expense.ProjectId">
				</div>
				<div class="form-group" ng-show="billable =='Yes'">
					<label for="formName">TaskID</label>
					<input type="text" class="form-control" id="formName" placeholder="TaskID" ng-model="expense.TaskID">
				</div>
				
				<div class="alert alert-success" ng-show="status == true">Your Expense is successfully submitted.</div>
				
				<button type="button" class="btn btn-default btn-block" ng-click="save()"><b>Submit</b></button></br></br>

			</form>
		</div>
	</div>
</div>