<div class="module module-expenses">

	<div class="row">
		<div class="col-xs-12 block block-title block-title-expenses">Expenses</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 block block-color0">
			<div class="text"><h1>Congratulations!</h1> <br/> You did it! We hope to see you again soon.</div>
		</div>
	</div>

	<div class="row row-large">
		<div class="col-xs-6 block block-color3 icon-back">
			<a class="icon icon-back" href="#/module/expenses" ></a>
		</div>
		
		<div class="col-xs-6 block block-color1 icon-done">
			<a class="icon icon-done" href="#/home" ></a>
		</div>

	</div>
		
</div>
